<div class="ui-grid ui-grid-responsive">
    <div class="ui-grid-row">
        <h3 class="nontext-center">Weather Forecast</h3>
    </div>
    <div id="place" class="ui-grid-row">
        <% if(city_name == ""){ %>
            <div class="nontext-center">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        <% } else { %>
            <h4>For: <%= city_name %> (<%= country %>)</h4>
        <% } %>
    </div>
    <div id="forecast_days" class="ui-grid-row">
    </div>
</div>