<div class="ui-messages ui-widget" aria-live="polite" data-global="false" data-summary="data-summary" data-detail="data-detail" data-severity="all,error" data-redisplay="true">
    <div class="ui-messages-warn ui-corner-all">
        <span class="ui-messages-warn-icon"></span>
        <ul>
            <li>
                <span class="ui-messages-warn-summary">Warning!</span>
                <span class="ui-messages-warn-detail">Position not available.</span>
            </li>
        </ul>
    </div>
</div>